<div class="container add-messages">
    <h1>Centro de Mensajes</h1>
    <div>
      <input type="email" id="nombreUsuario" name="nombre" placeholder="Email" required />
    </div>
    <div>
      <input type="text" id="message" name="message" placeholder="Mensaje" required />
    </div>
    <button id="btnMessage" type="button">Enviar</button>
    <div id="chatContainer"></div>
  </div>
  